NODE_ENV=development
PORT=5001
MONGO_URI=mongodb://localhost:27017/stayos
JWT_ACCESS_SECRET=your_jwt_access_secret_should_be_long_and_random_string_32_characters
JWT_REFRESH_SECRET=your_jwt_refresh_secret_should_be_long_and_random_string_32_characters
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
REDIS_URL=redis://localhost:6379
